/* FONT AND TYPOGRAPHY */
$body-font: "Poppins", sans-serif;
$biggest-font-size: 2rem;
$h2-font-size: 1.25rem;
$h3-font-size: 1.125rem;
$normal-font-size: 0.938rem;
$small-font-size: 0.813rem;

/* FONT WEIGHT */
$font-semi-bold: 600;
$font-bold: 700;
