$header-height: 3rem;

/* COLORS */
$first-color: #da2535;
$first-color-alt: #c42130;
$first-color-send: #de3b49;
$title-color: #161212;
$text-color: #5b5757;
$text-color-light: #8f8a8a;
$body-color: #fefbfb;
$container-color: #fff;

/* MARGINS */
$mb-1: 0.5rem;
$mb-2: 1rem;
$mb-3: 1.5rem;
$mb-4: 2rem;
$mb-5: 2.5rem;
$mb-6: 3rem;

/* Z-INDEX */
$z-tooltip: 10;
$z-fixed: 100;

@media screen and (min-width: 968px) {
    :root {
        $biggest-font-size: 3rem;
        $h2-font-size: 1.75rem;
        $h3-font-size: 1.25rem;
        $normal-font-size: 1rem;
        $small-font-size: 0.875rem;
    }
}
